page-home {
.background-home{
  background: url("../assets/imgs/bg.png") no-repeat center center;
  background-size: cover;
  background-position: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}
  //.boarding_pass{
  //  margin: 0 auto;
  //
  //  background: url("../../assets/imgs/boparding pass.png") no-repeat center center;
  //  height: 100%;
  //  background-attachment: fixed;
  //
  //}
  .fields{
    width: 80%;
    margin-top: 15%;
  }
  //.boading_headng{
  // padding-top: 31%;
  //  color: #868686;
  //  margin-left: 42px;
  //}
  //.boarding_pass {
  //  margin: 0 auto;
  //  //background: url("../assets/imgs/boparding pass.png") no-repeat;
  //  height: 100%;
  //  margin-top: 7%;
  //}


  .title {
    //background-color: rgba(215, 209, 193, 0.5);
    height: 33%;
    position: fixed;
    width: 55%;
    color: #000;
    margin-left: 125px;
    margin-top: 34px;
  }


   .name {
    //background-color: rgba(215, 209, 193, 0.5);
    //width: 55%;
    position: fixed;
    //height: 32%;
    color: #000;
    margin-left: 36px;
    margin-top: 32px;
  }
  .email {
    //background: rgba(215, 209, 193, 0.5);
    //width: 65%;
    //height: 32%;
    position: fixed;
    color: #000;
    margin-top: 117px;
    margin-left: 120px;
  }
  .phone_number {
    //background: rgba(215, 209, 193, 0.5);
    width: 65%;
    position: fixed;
    height: 32%;
    color: #000;
    margin-left: 420px;
    margin-top: 124px;
  }
  .button_submit{
    //background: transparent;
    margin-left: 30%;
    position: fixed;
    margin-top: 101px;
    width: 292px;
    height: 84px;
  }


  .form_block {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: url("../assets/imgs/block_bg.png") no-repeat center;
    background-size: contain;
    background-color: transparent;
    /* background-position: 100% 100%; */

  }
  .button_bg{
    background: url("../assets/imgs/button.png");
    margin-top: 35%;width: 292px; height: 84px;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}
